---
interface Props {
	title: string;
	dark?: boolean;
}

const { title, dark = true } = Astro.props;
const background = dark ? '#13151a' : '#fff';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ProtoRH - {title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global define:vars={{ background }}>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background);
		background-size: 224px;
	}
	body {
		padding: 0;
		margin: 1rem;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.text-center {
		text-align: center;
	}
	.buttons {
		display: flex;
		align-items: start;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.fields {
		display: grid;
		background-color: rgba(255, 255, 255, 0.048);
		padding: 1rem;
		border-radius: 7px;
	}
	.fields > label {
		font-size: 1.5rem;
		width: 100%;
		margin: 0;
		padding: 0;
		margin-bottom: 1rem;
		cursor: text;
	}
	.fields > div {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
	}
</style>
